{% extends "taskList.html" %}

{% block title %}{% endblock title %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'taskCreate.css' %}">
{% endblock css %}

{% block content %}
    <h2>Create a new task</h2>
    <div class="container">
        <form method="POST" action="{% url 'tasks:taskCreate' %}">
            {% csrf_token %}
            <table class="table">
                <tbody>
                    <tr>
                        <td><b>Title:</b></td>
                        <td>{{ form.title }}</td>
                    </tr>
                    <tr>
                        <td><b>Category:</b></td>
                        <td>{{ form.category }}</td>
                    </tr>
                    <tr>
                        <td><b>Description:</b></td>
                        <td>{{ form.description }}</td>
                    </tr>
                    <tr>
                        <td><b>Due date:</b></td>
                        <td>{{ form.due_date }}</td>
                    </tr>
                    <tr class="btn-row">
                        <td colspan="2"><button type="submit" class="btn btn-primary">Create</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock content %}